<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarte fine aux pommes croustillante et caramélisée</title>
    <link href="./classicA5.css" rel="stylesheet">
</head>
<body>
    <div >
    <div class="page">
    <div>
        <h1>Tarte fine aux pommes croustillante et caramélisée</h1>
    </div>
    <div class="content_container">
        <div class="ingredients">
            <p>Pour 1 tarte</p>
            <ul>
                
                <li>100 g de farine (plus pour l&amp;#39;étalement de la pâte)</li>
                
                <li>80 g de beurre (bien froid)</li>
                
                <li>40 g d&amp;#39;eau (bien froide)</li>
                
                <li>1/4 c. à café de sel (correspond à une pincée)</li>
                
                <li>20 g de beurre (pour badigeonner la plaque de cuisson et les pommes.)</li>
                
                <li>3 grosses pommes (ou 4 petites) (Canada,Granny Smith, Pink Lady, Braeburn.)</li>
                
                <li>sucre en poudre (pour saupoudrer sur la plaque de cuisson et les pommes.)</li>
                
            </ul>
        </div>

        <div class="instructions">
            <ol>
                
                
                <li>Versez la pincée de sel dans 40g d&amp;#39;eau très froide et remuez pour dissoudre le sel.</li>
                
                <li>Versez les 100g de farine dans un grand saladier. Coupez le beurre en gros morceaux et versez-les sur la farine. Aplatissez les morceaux de beurre entre vos doigts.</li>
                
                <li>Versez l&amp;#39;eau salée et amalgamez grossièrement.</li>
                
                <li>Farinez votre plan de travail (ou une feuille de papier cuisson) et déposez-y la boule de pâte. Formez un rectangle.</li>
                
                <li>Farinez légèrement de dessus de la pâte et étalez au rouleau en forme de rectangle 2 fois plus haut que large. Repliez le tiers inférieur vers l&amp;#39;intérieur, puis le tiers supérieur par dessus. Vous venez de réaliser le premier tour simple.</li>
                
                <li>Tournez la pâte d&amp;#39;1/4 de tour avec les plis à droite (comme un livre). Recommencez l&amp;#39;opération 4 fois pour réaliser un total de 5 tours simples. La pâte va devenir de plus en plus souple. Si vous sentez que le beurre commence à fondre, mettez la pâte quelques minutes au congélateur pour que le beurre durcisse.</li>
                
                <li>Pour finir, étalez la pâte pas trop finement (3 mm d&amp;#39;épaisseur) pour former un cercle de 24 cm de diamètre et réservez au frais.</li>
                
                <li>Faites fondre les 20g à feu doux dans une casserole ou au micro-ondes.</li>
                
            </ol>
        </div>
    </div>
</div>
</div>
</body>
</html>